/*-------------------Tag selector--------------------------------------*/
h1{
  font-size: 50px;
  font-style:italic;
  transform: rotate(-7deg);

}
body{
  background-color:#3F72AF;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: #750550;
  border-width:10px;
  }

  a:hover{
    background-color: black;
  }
/*------------------------------id selector-----------------------------------------*/
.c{
    color: #03045E;
  }
.circular{
  border-radius: 10%;
}
/*--------------------------------class selector---------------------------------*/
#a{
    background-color: #A63EC5;
    color: #F0A500;
  }

/*FFBBCC #8D8DAA*/
